@model Alidayu.Sms.Models.TwilioSettingsPart

<fieldset>
    <legend>@T("SMS Settings")</legend>
    <div>
        <div>
            @Html.LabelFor(m => m.AccountSID, T("Account SID"))
            @Html.EditorFor(m => m.AccountSID)
            @Html.ValidationMessage("AccountSID", "*")
            <span class="hint">@T("Your Twilio account ID.")</span>
        </div>
        <div>
            @Html.LabelFor(m => m.AuthToken, T("Auth Token"))
            @Html.PasswordFor(m => m.AuthToken)
            @Html.ValidationMessage("AuthToken", "*")
            <span class="hint">@T("Your Twilio Auth Token. This value is hidden and encrypted for security.")</span>
        </div>
        <div>
            @Html.LabelFor(m => m.FromNumber, T("From Number"))
            @Html.EditorFor(m => m.FromNumber)
            @Html.ValidationMessage("FromNumber", "*")
            <span class="hint">@T("The number the SMS messages will appear from. This number needs to be a Twilio number.")</span>
        </div>
    </div>
</fieldset>